.search-bar input {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar label {
    margin-right: 8px;
    font-weight: bold;
    font-size: 1em;
    color: #444;
}

.search-bar input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar button {
    padding: 5px;
    font-size: 0.8em;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    width: 3vw;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-bar input {
    flex: 1;
}